{% embed 'partials/base.html.twig' %}

	{% block content %}

		{% if config.plugins.breadcrumbs.enabled %}
			{% include 'partials/breadcrumbs.html.twig' %}
		{% endif %}

		<div class="blog-header">
			{{ page.content }}
		</div>


		<div id="blog-list">
			{% for child in page.collection() %}
		        {% include 'partials/blog/list-item.html.twig' with {'blog':page, 'page':child, 'truncate':true} %}
		    {% endfor %}

            {% if config.plugins.pagination.enabled and collection.params.pagination %}
                {% include 'partials/pagination.html.twig' with {'base_url':page.url, 'pagination':collection.params.pagination} %}
            {% endif %}
		</div>
	{% endblock %}

{% endembed %}


